footer{
    background-color: gray;
    height: 300px;
}

#footer-section {
    height: 220px;
    display: flex;
    justify-content: center;
    column-gap: 200px;
    color: var(--white);
    margin:0 100px;
}

.footer-links {
    margin-top: 40px;
    column-gap: 7em;
    display: flex;
}

.footer-links li {
    list-style: none;
}
.footer-links h5{
    margin-bottom: 15px;
}

.footer-links a {
    color: white;
    text-decoration: underline;
}

.footer-subscribe {
    margin-top: 40px;
    width: 40%;
}

#subscribe-btn{
    margin: 0;
    border-radius: 0px 0.25em 0.25em 0px;
    font-weight: 500;
}

.subscribe-input {
    width: 90%;
    border-radius: 0px 0.25em 0.25em 0px;
    box-shadow: 2px 2px 5px rgb(44, 44, 44);
}
.footer-subscribe img{
    cursor: pointer;
    height: 30px;
    margin-right: 10px;
    margin-top: 5px;
}

.footer-bottom{
    height: 60px;
    bottom: 0;
    border-top: 1px solid rgb(255, 255, 255);
    margin: 0 90px;
    padding: 10px 0px;
}

.footer-bottom img{
    display: block;
    height: 60px;
    margin: 0 auto;
}